:root {
    --body-font-family: 'Public_Sans', 'Arial', sans-serif;
    --code-font-family: 'JetBrainsMono', sans-serif;
    --public-sans-wght: 300;
    --type-scale:1.25;
    font-size: 16px;
}

body {
    font-family: var(--body-font-family);

}

h1 {
    font-size: calc(1em * var(--type-scale) * 5);
    font-weight: 800;
}

h2 {
    font-size: calc(1em * var(--type-scale) * 4);
    font-weight: 700;
}

.code {
    font-family: 'JetBrainsMono';
    font-size: 1em;
}