:root {
    font-size: 16px;
    
    --body-font-family: 'Public_Sans', 'Arial', sans-serif;
    --code-font-family: 'JetBrainsMono', sans-serif;
    --public-sans-wght: 200;
    --type-scale: 0.8;


    /* colors 
    c1 = orange
    c2 = beige
    c3 = blue
    c4 = grey
    c5 = black
    */
    --c1: #FF8000;
    --c2: #B06E2C;
    --c3: #005E7A;
    --c4: #052c44;
    --c5: #1f1f1f;
    --c6: #d4c4b3;
    --c7: #f7f4f1;
    --c8: #cccbca;

}

body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-family: var(--body-font-family);
    font-weight: var(--public-sans-wght);
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    color: var(--c5);
    line-height: calc(var(--type-scale) * 1.5);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color:var(--c4);
    line-height: calc(var(--type-scale) * 1.4);   
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}

h1 {
    font-size: calc(1em * var(--type-scale) * 4);
}

h2 {
    font-size: calc(1em * var(--type-scale) * 3);
}

h3 {
    font-size: calc(1em * var(--type-scale) * 2);
}


.code {
    font-family: 'JetBrainsMono';
    font-size: 1em;
}

/* Page content */
.content {
    max-width: 1090px;
    width:80%;
    margin:auto;
}

/* grid */

p.col-1 {
    grid-area: col-1;
    /* background-color: sandybrown; */
}        
p.col-2 {
    grid-area: col-2;
    /* background-color: sandybrown; */
}
article.header {
    grid-area: header;
    /* background-color: rgb(165, 96, 244); */
}

.card-1 {
    grid-area: card-1;
}
.card-2 {
    grid-area: card-2;
}
.card-3 {
    grid-area: card-3;
}

footer {
    grid-area: footer;
    /* background-color: seagreen; */
}

main {
    display: grid;
      grid-template-areas:
        'header header header header header header'
        'col-1 col-1 col-1 col-2 col-2 col-2'
        'card-1 card-1 card-2 card-2 card-3 card-3'
        'footer footer footer footer footer footer'
    ;

    grid-gap: 1.5rem;
    padding: 1rem;
}

.card {
    box-sizing: border-box;
    background-color:var(--c7);
    border-radius:16px;
    overflow:hidden;
    box-shadow:  1px 1px 5px var(--c8);
    padding:1rem;
    padding-top:0px;
} 

/* A2HS */

#addToHomeScreen {
    display:none;
    width: 400px;
    margin:auto;
    padding:1rem;
    padding-top:0px;
    background-color: var(--c7);
    border:var(--c6) 2px solid;
    border-radius:16px;
}

#addToHomeScreen img {
    display:block;
    margin:auto;
    background-color: var(--c4);
    padding:0.5rem;
    border-radius:16px;
}

#addToHomeScreen a {
    color:rgb(255, 255, 255);
    background-color:var(--c3);
    padding:0.7rem;
    margin:1rem;
    margin-bottom:0px;
    line-height: 3rem;
    border-radius:8px;
    text-decoration: none;
}

#addToHomeScreen div {
    text-align: center;
}
